
@media screen and (max-width: 1340px){
    .wrapper {
        width:90%;
    }

    .main_header__line {
        width: 70%;
    }



    .simpleDisigne__section_content_block__block {
        width: 28%;
        margin-top: 10%;
        padding: 0;
    }

    .showcase__image_block img{
        height: 27vh;
        width: 40vh;

    }

    .footer_social_networks {
        margin-top: 1.1%;
    }
}

@media screen and (max-width: 1024px){
    .showcase__image_block img{
        height: 24vh;
        width: 35vh;

    }
}

@media screen and (max-width: 700px){
    .showcase__image_block img{
        height: 17vh;
        width: 25vh;
    }

    .simpleDisigne__section_content_block__block__text {
        display: none;
    }

    .main_header {
        font: 55px "Lato", sans-serif;
    }

    .main_header__button {
        margin-top: 15vh;
    }

    .main_header__button__arrow {
        margin-top: 20vh;
    }

}

@media screen and (max-width: 600px){


    .send__button {
        width: 25%;
        height: 6vh;
    }

    .send_form label {
        font: 12px "Lato", sans-serif;
    }

    .footer_social_networks img {
        height: 5vh;
        width: 5vh;
        margin-top: 1vh;
    }
    .section_text {
        font: 14px "Lato", sans-serif;
    }

    .simpleDisigne__section_content_block__block__img img {
        height: 15vh;
        width: 15vh;
    }
    .simpleDisigne__section_header__section_text {
        height: 50%;
    }

    .simpleDisigne__section_content_block__block__header {
        font: 17px "Lato", sans-serif;
    }

    .showcase__image_block img{
        height: 15vh;
        width: 23vh;
    }

    .main_header {
        padding-top: 20vh;
    }

    .main_header__button {
     margin-top: 10vh;
    }

    .main_header__button__arrow {
       margin-top: 20vh;
    }

}