body {
    margin: 0;
    font: 20px "Lato", sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto ;
}

div {
    box-sizing: border-box;
}

.section_1 {
    height:100vh;
    margin-bottom: 0;
}

.header {
    background: #f6f9f9;

}



#logo_img {
    padding: 0;
    display: inline-block;
    margin: 1.5% 0 1.5% 0;

}

#Logo_text {
    font: 40px "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #2d3950;
    display: inline-block;
    margin: 0;
    padding: 0;

    }

.banner {
    background:  url("../img/Banner1.png") no-repeat top 280% center / cover ;
    height: 100vh;
}

.main_header {
    font: 120px "Lato", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    padding-top: 13%;
    text-align: center;
}

.main_header__line {
    height: 2px;
    width: 600px;
    border-bottom: 2px solid #15a4fa;
    margin:  0 auto;
    padding-top: 1%;

}

.main_header__text {
    font: 20px "Lato", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 5vh;
}



.main_header__button {
    width: 182px;
    height: 60px;
    position: relative;
    display: block;
    margin:  0 auto;
    background: #15a4fa;
    color: #ffffff;
    border: 0;
    border-radius: 5px ;
}

.main_header__button__arrow {
    margin: 7vh auto;
    height: 12px;
    width: 20px;
    background-image: url("../img/row.png");
    display: block;
    position: relative;

}


.simpleDisigne {
    height: 100vh;
    margin-top: 0;
    clear: both;
}

.simpleDisigne__section_header__section_text {
    height: 40vh;
    background: #f6f9f9;
    text-align: center;

}

.simpleDisigne__section_content_block__block {
    height: 60vh;

    margin: 0 auto;
}

.simpleDisigne__section_content_block {
    margin: 0 auto;
    text-align: center;
}


.section_header {
    padding-top: 8vh;
    margin: 0;
    color: #2d3950;
    font: 40px "Lato", sans-serif;
}

.section_text {
    color: #999999;
    font: 18px "Lato", sans-serif;
    line-height: 150%;

}

.simpleDisigne__section_content_block__block {
    height: 250px;
    width: 300px;
    display: inline-block;
    margin-top: 15vh;
    clear: left ;

}

.simpleDisigne__section_content_block__block:first-child{
    margin-left: 0;
    float: left;
}
.simpleDisigne__section_content_block__block__img:first-child {
    padding-top: 0;
}



.simpleDisigne__section_content_block__block:nth-child(2){
    margin-left: 2vh;
}

.simpleDisigne__section_content_block__block:nth-child(3){
    margin-left: 2vh;

}

.simpleDisigne__section_content_block__block__header {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font: 22px "Lato", sans-serif;
    color: #2d3950;
}

.simpleDisigne__section_content_block__block__text {
    font: 15px "Lato", sans-serif;
    color: #999999;
}

.showcase {
    height: 100vh;
    background: #f6f9f9;
    text-align: center;
}

.showcase .section_header {
    padding: 5vh 0 0 0;
}

.showcase .section_text {
    margin-bottom: 2vh;
    padding: 2vh 0 0 0;
    font: 15px "Lato", sans-serif;
}

.showcase__image_block {
    padding-top: 0;
}

.showcase__image_block {
    display: inline-block;
    margin: 1% 1%;
}


.stayWith {
    background: url("../img/Banner2.png") no-repeat top 280% center / cover ;
    height: 91vh;
    text-align: center;
    color: #ffffff;
}

.stayWith .section_header {
    color: #ffffff;
}

.stayWith .section_text {
    color: #676b75;
    font: 15px "Lato", sans-serif;
}

.send_form {

    font: 15px "Lato", sans-serif;
    padding-top: 2vh;

}

.send_form .cell {
    position: relative;
    display: block;
    margin: 2.5vh auto;
    height: 8vh;
    background: none;
    width: 60%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding-left: 20px;
    color: #ffffff;

}

.send_form .cell_massage {
    position: relative;
    display: block;
    margin: 5px auto;
    background: none;
    width: 60%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 20px 10px 110px 10px;
    color: #ffffff;
}
input {
    outline:none;
}

.cell_massage:focus {
    border: 1px solid #ffffff;
    color: #ffffff;
    font: 13px "Lato", sans-serif;
}


.cell:focus {
    border: 1px solid #ffffff;
    color: #ffffff;
    font: 13px "Lato", sans-serif;
}

.send_form label {
    font: 15px "Lato", sans-serif;
    color: #ffffff;
    float: left;
    padding: 2% 0;
}


.send_form__nav_send {
    width: 63.5%;
    margin: 1.5% auto;

}

#check {
    float: left;
}

.send__button {
    float: right;
    width: 150px;
    height: 50px;
    position: relative;
    display: block;
    margin:  0 auto;
    background: #15a4fa;
    color: #ffffff;
    border: 0;
    border-radius: 5px ;
    font: 18px "Lato", sans-serif;
    padding: 0;
}

input[type="checkbox"] {
    margin-top: 2.7%;
}

.footer {
    height: 9vh;
}
.footer_text {
    font: 15px "Lato", sans-serif;
    color: #999999;
}

.footer_text {
    float: left;
}

.footer_social_networks {
    float: right;
    margin-top: 1.2%;
}